.new-arrivals{
  margin-top: 80px;
}
.new-arrivals img{
    /* width: 100%; */
    /* object-fit: cover; */
}
.refer img{
    /* object-fit: cover; */
    /* width: 100%; */
    opacity: 0.9;
}
.data1{
    width: 33.3%;
    padding: 10px 35px;
}
.shop-data1{
    display: flex;
}
@media (max-width:768px){
    .shop-data1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .data1{
        width: 66.6%;
        padding: 20px 10px;
    }
}
@media (max-width:500px){
    .shop-data1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .data1{
        width: 100%;
        padding: 20px 10px;
    }
}