.navbar {
    width: 100%;
    display: flex;
    background-color: black;
    color: #fff;
    padding: 20px;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    top: 0;
    align-items: center; 
    }
    .logo {
    font-size: 32px;
    
    }
    .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    }
    .menu li:hover {
    transition: 0.3s ease;
    }
    .menu li {
    padding: 5px 14px;
    }
    .menu li:hover{
        border-bottom: 2px solid red;
        transition:0.5s ease-in-out;
    }
    .services {
    position: relative; 
    }
    .dropdown {
    background-color: black;
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px
    }
    .dropdown li + li {
    margin-top: 10px;
    }
    
    .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    }
    
    .dropdown li:hover {
    background-color: #4c9e9e;
    }
    
    .services:hover .dropdown {
    display: block;
    }
    input[type=checkbox]{
    display: none;    
     } 
    .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
     }
     .icons{
        margin-top:4px;
        height: 20px;
    }
    .cart-data div{
        display: flex;
    }
      
    .toggleButton{
        background-color: black;
    }
      
     @media (max-width: 768px) {
        
        .menu { 
        display:none;
        position: absolute;
        background-color:black;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        }
        
        .menu li:hover {
        display: inline-block;
        /* background-color:; */
        transition: 0.3s ease;
        }
        
        .menu li + li {
        margin-top: 12px;
        
        }
        .icons{
            height: 20px;
            margin-top: 4px;
            /* align-items: center; */
            /* text-align: center; */
        }
        .cart-data div{
            position: relative;
            left: 46%;
            align-items: center;
            transform: translateX(46%,46%);
            text-align: center;
        }
        input[type=checkbox]:checked ~ .menu{
        display: block;
        
        }
        
        .hamburger {
        display: block;
        
        }
        
        .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
        }
        
        .dropdown li:hover {
        background-color: #4c9e9e;
        }
        
        }