.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    text-align: center;
}
.goHome{
    cursor: pointer;
    /* background-color: brown; */
    color: #fff;
    margin-top: 20px;
    background: brown;
}