/* .card{
    background: #fff;
    width: 900px;
    min-height: 400px;
    display: flex;
}
.form,.images{
    width: 50%;
} */
.gif{
    width: 100%;
    height: 400px;
    margin-top: 84px;
    object-fit: cover;
    transition: 0.4s ease-in;
}
.gif img{
    width: 100%;
    height: 400px;
    margin-top: 84px;
    transition: 0.4s ease-in;
    /* object-fit: cover; */
}
.gif:hover img{
    transform: scale(0.9);
    cursor: pointer;
}
.main-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.card{
   width: 49%;
   border-right: 1px solid rgba(199,200,202,0.45);
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}
.form-data{
    margin-top: 0em;
}
.inputBox{
    margin-bottom: 1em;
}
.user{
    height: 50px;
    color: #fff !important;
    border: 1px solid transparent;
    border-radius: 40px;
    padding-right: 20px;
    padding-left: 20px;
    transition: 0.3s;
}
.user:hover{
    background: transparent;
    outline: none;
    box-shadow: none;
    border-color: rgba(255,255,255,0.4);
}
.sendBtn{
    background: #fbceb5;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 6px 16px;
    height: 50px;
    transition: 0.3s;
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
}

.right-content{
    width: 50%;
}
.right-data1{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px;
    padding: 20px 50px 0;
    /* text-align: center; */
    /* justify-content: center; */
}
.right-data1 .right-data-box{
    width: 50%;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 20px;
}
.right-data .right-data-box span{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 19%;
}
.right-data .right-data-box img{
    border: 1px solid #040707;
    border-radius: 50%;
    width: auto;
}
.right-data .right-data-box p{
    font-size: 14px;
}

@media (max-width:768px){
 .right-content{
    display: flex;
    border: 0;
    width: 100%;
    /* flex-wrap: wrap; */
    padding: 0px 10px;
    flex-direction: column;
 }
 .right-data{
   padding: 0;
   width: 100%;
 }
 .right-data-box{
    margin-top: 14px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0px 0px; */
 }
 .right-data-box .text{
    width: 100%;
    font-size: 13px;
 }
 .card{
    width: 100%;
 }
 .right-data .right-data-box span{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0%;
}

}

@media (max-width:500px){
    .right-content{
    display: flex;
    border: 0;
    width: 100%;
    /* flex-wrap: wrap; */
    padding: 0px 10px;
    flex-direction: column;
 }
 .right-data{
   padding: 0;
   width: 100%;
 }
 .right-data-box{
    margin-top: 14px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    /* margin: 0px 0px; */
 }
 .text{
    width: 100%;
    font-size: 13px;
 }
 .card{
    width: 100%;
 }
 .right-data .right-data-box span{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0%;
}
}