.map{
  width: 100%;
  flex-wrap: wrap;
  object-fit: cover;
}
.contact-inputs{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;
}

input[type='submit']{
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 6rem;
    background-color: brown;
    color: #fff;
}
textarea{
    padding-left:16px;
    padding-top: 16px;
    font-size: 17px;
    border: 1px solid gray;
    height: 200px;
    border-radius: 10px;
}
.container{
    margin-top: 6rem;
    width: 550px;

}
@media (max-width:551px){
   .container{
    width:auto
   }
}
